<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% if  css == "bootstrap-5"%}<link href="bootstrap.css"/>{% endif %}{% if  css == "bulma"%}<link href="bulma.css"/>{% endif %}{% if  css == "material.css"%}<link href="material.css"/>{% endif %}{% if  css == "water.css"%}<link href="water.css"/>{% endif %}{% if  css == "pico.css"%}<link href="pico.css"/>{% endif %}
</head>
<body>
    <h1>
        Hello world from flask
    </h1>
</body>
</html>